// @import "custom-theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  mat-form-field {
    padding-bottom: 12px;
  }
}

.field-container {
  padding: 8px 0px;
}

.field-container mat-form-field:not(:first-child),
    button[mat-button]:not(:first-child),
    button[mat-raised-button]:not(:first-child) {
  margin-left: 8px;
}
