<div>

  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" id="email" formControlName="email" required />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required.
      </mat-error>
      <!-- @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        @if (loginForm.get('email')?.errors?.['required']) {
          <mat-error>Email is required.</mat-error>
        }
        @if (loginForm.get('email')?.errors?.['email']) {
          <mat-error>Invalid email format.</mat-error>
        }
      } -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password"  formControlName="password" required />
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        @if (loginForm.get('password')?.errors?.['required']) {
          <mat-error>Password is required.</mat-error>
        }
      }
    </mat-form-field>

    <div class="field-container">
      <button mat-raised-button type="submit">Login</button>
    </div>

    @if (message) {
    {{message}}
    }

  </form>

</div>
