<div>

  <mat-card>
    <mat-card-header>
      <h4>Login</h4>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <p>Use your email and password to login.</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput type="text" id="email" formControlName="email" required />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Invalid email format.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" formControlName="password" required />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required.
          </mat-error>
        </mat-form-field>

        @if (message) {
        <div color="warn" role="alert">
          {{message}}
        </div>
        }

        <div class="field-container">
          <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>
