<div>

  <h2>Register</h2>

  <form #loginForm="ngForm" (ngSubmit)="register()">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" id="email" [(ngModel)]="credentials.email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" [(ngModel)]="credentials.password" name="password" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="confirmPassword" id="confirmPassword" [(ngModel)]="credentials.confirmPassword"
        name="password" required>
    </mat-form-field>

    <div class="field-container">
      <button mat-raised-button type="submit">Register</button>
    </div>

    @if (message) {
    {{message}}
    }

  </form>

</div>
